<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <appSettings>
    <!--input-->
    <!--result count in serp-->
    <add key="Recordperpage" value ="10"/>
    <!--query list file schema: Index\tQueryText. No Header-->
    <add key="QueryListFilePath" value="QueryList.txt"/>
    
    
    <!--output-->    
    <add key="LogFileFormat" value="log_{0}.txt"/>
    <add key="SerpOutputFormat" value="E:\AcademicSearch\CNKI\Serp\{0}.html"/>
    <!--landing page and pdf output name schema: Index_QueryText_Position_Title-->
    <add key="LandingPageOutputFolder" value="E:\AcademicSearch\CNKI\Detail"/>
    <add key="PDFOutputFolder" value="E:\AcademicSearch\CNKI\PDF"/>
    <add key="ResultFilePath" value="E:\AcademicSearch\CNKI\result.txt"/>
  </appSettings>
</configuration>